.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: lightblue;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: darkgrey;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    color: black;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.show {
    display: block;
}
body{
    height:100%; 
    overflow: 0; 
    margin:0px; 
    padding:0px;
}
.box {
    height:100%; 
    position:absolute; 
    width:100%;}
.center {
    text-align:center
}
.left {
    text-align:left
}
.right {
    text-align:right
}
.auto_data {
    overflow: auto;
}
.auto {
        height: 88%;
        overflow: auto;
}
.dataTables_length{
    margin: 0 23px;
}
.dataTables_filter{
    margin: 0 20px;
}
.head_filter{
    float: left;
    min-width: 50px;
    cursor: pointer;
    margin: 0 10px 5px 0;
    text-align: center;
    display: inline-block;
    padding: 2px 6px;
}
.filter_font{
    color:hotpink;
    font-weight: bold;
}
.row {
    width: 80%;
    max-width: 100%;
    min-width: 768px;
    margin: 0 auto;
}
.constrain{
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.mytd {
    border-left: thin dashed grey;
    border-right: thin dashed grey;
    border-bottom: thin dashed grey;
    border-top: thin dashed grey;
}
.div_module {
    height: auto;
    min-height: 180px;
    margin-bottom: 20px;
    background-color: rgb(235, 237, 238);
}
.div-inline{
    display: inline;
    background-color: #fff;
}
.module{
    height: 36px;
    margin-bottom: 0px;
    background-color:rgb(175, 216, 203) ;
}
.picture{
    height: 80px; 
    width: 80px; 
    margin-top: 10px; 
    margin-left: 40px; 
    margin-bottom: 10px;
}
.td1{
    width: 160px;
}
.td2{
    width: 250px;
}
.td3{
    width: 600px;
}
.td4{
    width: 20px;
}
.tr_hr{
    height: 2px;
}
a {
    text-decoration: none;
    color: #6ba2fc;
}
a:active, a:hover {
    outline-width: 0;
}
.company-info {
    margin-bottom: 4px;
}
.span {
    font-size: 14px;
    line-height: 34px;
    background: rgba(107,162,252,.2);
    padding: 6px 12px;
    color: #969fa9;
    letter-spacing: 3px;
}
.project {
    text-align:center;
    height: 40px;
    margin-top: 23px;
    margin-left: 20px;
}
.pro_td1 {
    width: 140px;
}
.pro_td2 {
    width: 20px;
}
.pro_td3 {
    width: 700px;
}
.pro_td4 {
    width: 140px;
}
.logo {
    width: 60%; 
    height: 60; 
    margin-left: 33px; 
    margin-top: 10px;
}
.plat {
    margin-top: 10px; 
    margin-left: 5px;
}
.li{
    font-size: 13px;
    line-height: 15px;
    display: inline-block;
    color: #969fa9;
    letter-spacing: 0;
    padding: 1px 10px;
    padding-left: 10px;
    height: 15px;
}
