[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyyaml = "*"
pymysql = "*"
flask-wtf = "*"
pyrad = "*"
flask-sqlalchemy = "*"
flask-bootstrap = "*"
flask-login = "*"
elasticsearch = "*"

[dev-packages]
"autopep8" = "*"

[requires]
python_version = "3.6"
