<!DOCTYPE html>
<html>
    <head>
        <title>数据查询检索</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel='stylesheet' href='/static/stylesheets/style.css'/>
        <link rel='stylesheet' href='/static/stylesheets/jquery-ui.css'/>
        <link rel='stylesheet' href='/static/stylesheets/jquery-base.css'/>
        <link rel='stylesheet' href='/static/stylesheets/my_content.css'/>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/jquery.dataTables.min.css">
        <script type="text/javascript" src="/static/javascripts/lib/datatable/jquery.js"></script>
        <script type="text/javascript" src="/static/javascripts/lib/datatable/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/static/javascripts/moment.js"></script>
        <script type="text/javascript" src="/static/javascripts/content.js"></script>
    </head>
    <body>
        <div id="container" class="box">
            <nav id="main" class="constrain clearfix">
                <div class="menu-top-container">
                    <ul id="menu-top" class="menu" style='width:100%;'>
                        <li class="menu-item" data-name="servinfo"><a href="/invest/list">项目浏览</a></li>
                        <li class="menu-item" data-name="servinfo"><a href="/logout">投融资分析</a></li>
                        <li class="menu-item" data-name="servinfo">
                        {% if user.username %}
                        <li class="menu-item" style='float:right;'>
                            <div class="dropdown">
                                <button class="dropbtn" onclick="usernameFunction()">{{user.username}}
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content" id="usernameDropdown">
                                    <a href="{{url_for('auth.logout')}}">退出账号</a>
                                </div>
                            </div>
                        </li>
                        {% else %}
                            <li class="menu-item" data-name="login"><a href="{{url_for('auth.login')}}">登录</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div id="content-wrapper" class="clearfix row auto">
                <div style="width:80%; margin-left: 10%; margin-bottom: 80px;">
                    <div class="div-inline">
                            <div class="div-inline"><img src="/static/images/info2.png" style="width: 35px; height: 35px;"></div>
                            <div class="div-inline">&nbsp;<b>项目概览</b></div>
                        </div>
                    <div id="project_info" class="div_module"><br/>
                    </div>
                    <div class="div-inline">
                        <div class="div-inline"><img src="/static/images/info4.png" style="width: 35px; height: 35px;"></div>
                        <div class="div-inline">&nbsp;<b>团队成员</b></div>
                    </div>
                    <div class="div_module">
                           <div style="height: 40px; width:1080px;"></div>
                           <div style="min-height: 160px; width:80px; float:left;"></div>
                           <div style="width:1050px;">
                                <table id="team_info">
                                </table>
                                <div style="height: 40px; width:1080px;"></div>
                            </div>
                    </div>

                    <div class="div-inline">
                        <div class="div-inline"><img src="/static/images/info3.png" style="width: 35px; height: 35px;"></div>
                        <div class="div-inline">&nbsp;<b>融资历程</b></div>
                    </div>
                    <div class="div_module">
                        <br/>
                        <div id="invest_table" >
                            <table id="invest" class="cell-border hover" style="width:100%;" >
                                <thead>
                                    <tr>
                                        <th width="10%">融资日期</th>
                                        <th width="10%">融资轮次</th>
                                        <th width="10%">融资金额</th>
                                        <th width="10%">币种</th>
                                        <th width="15%">投资机构</th>
                                    </tr>
                                </thead>
                                <tbody class="clearfix row auto">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div style="height:10px;"></div>
            </div>
        </div>
    </body>
</html>


