<!DOCTYPE html>
<html>
    <head>
        <title>数据查询检索</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="/static/stylesheets/jquery-ui.css" rel="stylesheet">
        <link rel='stylesheet' href='/static/stylesheets/style.css'/>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/jquery.dataTables.min.css">
        <link href="/static/stylesheets/jquery-base.css" rel="stylesheet">
        <link rel='stylesheet' href='/static/stylesheets/my_list.css'/>

        <script src="/static/javascripts/lib/jquery/jquery-1.8.3.min.js"></script>
        <script src="/static/javascripts/lib/datatable/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/static/javascripts/lib/datatable/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/static/javascripts/moment.js"></script>
        <script type="text/javascript" src="/static/javascripts/data.js"></script>


        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <script>
             function usernameFunction() {
                document.getElementById("usernameDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function (e) {
                if (!e.target.matches('.dropbtn')) {
                    var myDropdown = document.getElementById("usernameDropdown");
                    if (myDropdown.classList.contains('show')) {
                        myDropdown.classList.remove('show');
                    }
                }
            }
            // $(function() {
            // });
        </script>

</head>
<body>
    <div id="container" class="box">
            <nav id="main" class="constrain clearfix">
                <div class="menu-top-container">
                    <ul id="menu-top" class="menu" style='width:100%;'>
                        <li class="menu-item current" data-name="servinfo"><a>项目浏览</a></li>
                        <li class="menu-item" data-name="servinfo"><a href="/insitution/">投融资分析</a></li>
                        <li class="menu-item" data-name="servinfo">
                        {% if user.username %}
                        <li class="menu-item" style='float:right;'>
                            <div class="dropdown">
                                <button class="dropbtn" onclick="usernameFunction()">{{user.username}}
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content" id="usernameDropdown">
                                    <a href="{{url_for('auth.logout')}}">退出账号</a>
                                </div>
                            </div>
                        </li>
                        {% else %}
                            <li class="menu-item" data-name="login"><a href="{{url_for('auth.login')}}">登录</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
                <div id="content-wrapper" class="clearfix row auto">
                    <div width="100%">
                        <div class="head_filter" style="margin-left: 25px;">
                            <b><span class="source" value='工商' id='sourceGongshang'>工商监测</span></b>
                        </div>
                        <div class="head_filter">
                            <b><span class="source filter_font" value='消息源' id='sourceCrawler'>投融资消息源</span></b>
                        </div>
                    </div>
                </br></br>
                <hr style="height:10px;border:none;border-top:1px groove skyblue;" />
                <div width="100%">
                        <div class="head_filter">
                            <b><label style="color: #020808e1; font-size: 15px; margin-left: 25px;">搜索(公司/项目／关键词):</label></b>
                        </div>
                        <div class="head_filter"><input name="keyWords" style="width: 200px; z-index: 10000;" placeholder="请输入关键词" value="" id="keyWords"></input></div>
                        <div width="60%">&nbsp;</div>
                </div>
                </br>
                <hr style="height:10px; width:100%; border:none;border-top:1px groove skyblue;" />
                <div id='cityDiv' width="100%">
                    <div class="head_filter">
                        <label style="color: #00b8c0; font-size: 16px; margin-left: 25px;">城市：</label><br>
                    </div>
                    <div class="head_filter" ><span class="region filter_font" value='不限'>不限</span></div>
                    <div class="head_filter" ><span class="region" value='北京' >北京</span></div>
                    <div class="head_filter" ><span class="region" value='上海' >上海</span></div>
                    <div class="head_filter" ><span class="region" value='广州' >广州</span></div>
                    <div class="head_filter" ><span class="region" value='深圳' >深圳</span></div>
                    <div class="head_filter" ><span class="region" value='杭州' >杭州</span></div>
                    <div class="head_filter" ><span class="region" value='成都' >成都</span></div>
                    <div class="head_filter" ><span class="region" value='苏州' >苏州</span></div>
                    <div class="head_filter" ><span class="region" value='南京' >南京</span></div>
                    <div class="head_filter" ><span class="region" value='武汉' >武汉</span></div>
                </div>
                </br>
                <p>
                    <hr style="height:10px;border:none;border-top:1px groove skyblue;" />
                </p>
                <div style="width: 100%">
                    <div class="head_filter" >
                        <label style="color: #00b8c0; font-size: 16px; margin-left: 25px;">投资日期：</label>
                    </div>
                    <div class="head_filter" >
                        <input name="investDate" style="width: 200px; z-index: 10000;" id="investDate" placeholder="1950-01-01 / 2099-12-31" value=""></input>
                    </div>
                    <button style="display:inline;" id='lastWeekBtn'>上周</button>
                    <button style="display:inline;" id='lastMonthBtn'>上个月</button>
                </div>
                <p>
                    <hr style="height:10px;border:none;border-top:1px groove skyblue;" />
                </p>

                <div width="100%">
                    <div class="head_filter">
                        <label style="color: #00b8c0; font-size: 16px; margin-left: 25px;">投资轮次：</label>
                    </div>
                    <div class="head_filter"><span class="round filter_font" value= '不限'>不限</span></div>
                    <div class="head_filter"><span class="round" value= '种子轮'>种子轮</span></div>
                    <div class="head_filter"><span class="round" value= '天使轮'>天使轮</span></div>
                    <div class="head_filter"><span class="round" value= 'Pre-A轮'>Pre-A轮</span></div>
                    <div class="head_filter"><span class="round" value= 'A轮'>A轮</span></div>
                    <div class="head_filter"><span class="round" value= 'A+轮'>A+轮</span></div>
                    <div class="head_filter"><span class="round" value= 'Pre-B轮'>Pre-B轮</span></div>
                    <div class="head_filter"><span class="round" value= 'B轮'>B轮</span></div>
                    <div class="head_filter"><span class="round" value= '>B+轮'>B+轮</span></div>
                    <div class="head_filter"><span class="round" value= 'C轮'>C轮</span></div>
                    <div class="head_filter"><span class="round" value= 'D轮'>D轮</span></div>
                    <div class="head_filter"><span class="round" value= '其它'>D轮以上</span></div>
                </div>
                </br>
                <hr style="height:10px;border:none;border-top:1px groove skyblue;" />
                <div width="100%">
                    <div class="head_filter">
                        <label style="color: #00b8c0; font-size: 16px; margin-left: 25px;">所属行业：</label>
                    </div>
                    <div class="head_filter"><span class="industry filter_font" value='不限'>不限</span></div>
                    <div class="head_filter"><span class="industry" value='B2B交易平台' >B2B交易平台</span></div>
                    <div class="head_filter"><span class="industry" value='消费升级/零售' >消费升级/零售</span></div>
                    <div class="head_filter"><span class="industry" value='新技术/智能' >新技术/智能</span></div>
                    <div class="head_filter"><span class="industry" value='文娱/移动2C' >文娱/移动2C</span></div>
                    <div class="head_filter"><span class="industry" value='互联网金融/区块链' >互联网金融</span></div>
                    <div class="head_filter"><span class="industry" value='企业服务' >企业服务</span></div>
                    <div class="head_filter"><span class="industry" value='区块链' >区块链</span></div>
                    <div class="head_filter"><span class="industry" value='大出行' >大出行</span></div>
                    <div class="head_filter"><span class="industry" value='医疗' >医疗</span></div>
                    <div class="head_filter"><span class="industry" value='教育' >教育</span></div>
                </div>
                </br> 
                <p>
                    <hr style="height:10px;border:none;border-top:10px groove skyblue;" />
                </p>
                <div id="mydailog" title="反馈记录"></div>
                <div id="table" >
                    <table id="invest" class="cell-border hover order-column" style="width:100%;" >
                        <thead>
                            <tr>
                                <th width="8%">项目名称</th>
                                <th width="7%">项目名称</th>
                                <th width="10%">企业名称</th>
                                <th width="10%">监测日期</th>
                                <th width="10%">融资日期</th>
                                <th width="10%">融资轮次</th>
                                <th width="10%">融资金额</th>
                                <th width="7%">行业分类</th>
                                <th width="8%">投资机构</th>
                                <th width="10%">项目领取</th>
                                <th width="10%">反馈</th>
                            </tr>
                        </thead>
                        <tbody class="clearfix row auto">
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</body>
</html>
